body {
  margin: 1em;
  font-size: 150%;
  padding: 0;
  font-family: Georgia;
}

.done {
  padding-top: 2em;
}

table.calendar {
  border-collapse: collapse;
  width: 100%;
  td, th {
    border: 1px solid #888;
    width: 12%;
    vertical-align: top;
  }
  td {
    height: 4em;
    padding: .5em .5em;
  }
  th {
    padding: .2em .5em;
    font-weight: normal;
  }
}

.shoplist {
  h1 {
    font-size: 100%;
  }
  ol {
    list-style: none;
    padding: 0;

    input {
      font-size: 200%;
      margin-bottom: .25em;
      padding: .05em .2em;
    }
  }
}
